<html>
  <head>
      <link rel="stylesheet" href="./css/bootstrap.css">
      <script src="./js/jquery-3.2.1.js" ></script>
      <link rel="stylesheet" href="./css/stylesIndex.css" >
      <title>Players</title>
  </head>
  <body>
    <div class="container">
        <div class="header clearfix">
          <nav>
            <ul class="nav nav-pills pull-right">
            </ul>
          </nav>
          <h3 class="text-muted">Login Page</h3>
        </div>

        <div class="jumbotron">
            <div class="row">
              <h2>Log in</h2>
              <form action="/teams" method="get">
                  <label for="gamemasteruser">Username:</label>
                  <input id="gamemasteruser" name="gamemasteruser" type="text" required>
                  <label for="gamemasterpassword">Password:</label>
                  <input id="gamemasterpassword" name="gamemasterpassword" type="text" required>

                  <button class="btn btn-success" type="submit">Log in</button>
              </form>
            </div>
        </div>

        <div class="col-sm-12">
          <h2>Make a new account: </h2>

          <form action="/new_gamemaster" method="post">
            <label for="newuser">New Username:</label>
            <input id="newuser" name="newuser" type="text" required>
            <label for="newpassword">New Password:</label>
            <input id="newpassword" name="newpassword" type="text" required>

              <button class="btn btn-success" type="submit">Add new gamemaster</button>
          </form>
        </div>
      <div>
    </div>
    <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
    <script src="../js/vueapp.js" ></script>

  </body>
</html>
